<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->

<!-- Console logging to help troubleshoot CSS loading -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    console.log('CSS files loaded:');
    for (let i = 0; i < document.styleSheets.length; i++) {
      console.log(' - ' + document.styleSheets[i].href);
    }
  });
</script>
